[Unit]
Description=Gunicorn instance to serve hapitech Flask app
After=network.target

[Service]
User=root
Group=root
Environment="SMTP_HOST=mail.privateemail.com"
Environment="SMTP_PORT=587"
Environment="SMTP_USER=aaron@hapitech.dev"
Environment="SMTP_PASS=Agnese11052021!"
Environment="SMTP_FROM=aaron@hapitech.dev"
Environment="SMTP_TO=aaron@hapitech.dev"
WorkingDirectory=/var/www/hapitech
Environment="PATH=/var/www/hapitech/venv/bin"
ExecStart=/var/www/hapitech/venv/bin/gunicorn --workers 3 --bind unix:/var/www/hapitech/hapitech.sock app:app

[Install]
WantedBy=multi-user.target
